.list{
	border: 5px solid green;
	height: 400px;
	width: 80vw;
	overflow: auto;
	margin: auto;
}

.listItem{
	height: 100px;	
	border: 2px solid red;
	position: relative;
	list-style-type: none;
	text-align: center;
	line-height: 100px;
}

ul{
	padding-inline-start: 0;
}